* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1400px) {
  .header__nav {
    width: 1000px;
  }
  .header__nav--contain {
    column-gap: 20px;
  }
  .header__nav--logo p {
    font-size: 28px;
  }
  .header__nav--icons__inp {
    width: 40px;
  }
  .header__nav--icons__inp input {
    display: none;
  }
  .header__nav--icons__inp button {
    width: 40px;
    border-radius: 5px;
  }
  .header__title {
    height: auto;
  }
  .header__title h1 {
    font-size: 70px;
  }
  .subtitle h2 {
    font-size: 26px;
  }
  .products {
    width: 1000px;
  }
  .products__box {
    grid-template-columns: repeat(4, 1fr);
  }
  .deals {
    width: 1000px;
  }
  .deals__box2 img {
    width: 100%;
  }
  .deals__box3--div {
    width: 70%;
  }
  .deals__box3--div p b {
    font-size: 30px;
  }
  .deals__box4 {
    row-gap: 10px;
  }
  .deals__box4 h2 {
    font-size: 30px;
  }
  .fruits {
    height: 400px;
  }
  .follow {
    width: 1000px;
  }
  .follow__box2 h2 {
    font-size: 35px;
  }
  .follow__box2 p {
    font-size: 15px;
  }
}

@media screen and (max-width: 1000px) {
  .header__nav {
    width: 700px;
  }
  .header__nav--icons {
    display: none;
  }
  .openMenu {
    display: block;
  }
  .products {
    width: 700px;
  }
  .products__icons {
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 0px;
  }
  .products__icons--btn {
    width: 100px;
    height: 100px;
  }
  .products__icons--btn i {
    font-size: 25px;
    padding: 15px;
  }
  .products__icons--btn p {
    font-size: 14px;
  }
  .products__box {
    grid-template-columns: repeat(3, 1fr);
  }
  .deals {
    width: 700px;
  }
  .deals__contain {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr 80px;
    grid-template-areas:
      "time text"
      "fruit text"
      "other text";
  }
  .deals__box1 {
    grid-area: other;
    flex-direction: row;
    column-gap: 15px;
  }
  .deals__box1 img {
    width: 60px;
    height: 60px;
  }
  .deals__box2 {
    grid-area: fruit;
  }
  .deals__box2 p {
    height: 40px;
    font-size: 25px;
    border-radius: 20px;
  }
  .deals__box3 {
    grid-area: time;
  }
  .deals__box3--div {
    flex-direction: row;
    width: 100%;
    margin: 0;
    height: 90%;
  }
  .deals__box3--div p b {
    font-size: 25px;
  }
  .deals__box3--div p small {
    font-size: 15px;
  }
  .deals__box4 {
    grid-area: text;
    padding-left: 10px;
  }
  .deals__box4 h2 {
    font-size: 27px;
  }
  .deals__box4 p {
    text-align: justify;
  }
  .follow {
    width: 700px;
    height: 1050px;
  }
  .follow__box {
    height: 900px;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .follow__main {
    grid-row: 1 / 3;
    row-gap: 30px;
  }
}

@media screen and (max-width: 700px) {
  .header__nav {
    width: 350px;
  }
  .header__nav--logo p {
    font-size: 24px;
  }
  .header__nav--contain {
    display: none;
  }
  .header__title {
    width: 350px;
    row-gap: 20px;
  }
  .header__title h1 {
    font-size: 55px;
  }
  .header__title p {
    width: 300px;
    font-size: 15px;
    text-align: center;
    color: gainsboro;
    line-height: 1.5;
  }
  .header__title button {
    width: 90%;
    height: 55px;
  }
  .products {
    width: 350px;
  }
  .subtitle {
    width: 350px;
  }
  .subtitle span {
    column-gap: 10px;
  }
  .products h2 {
    font-size: 22px;
  }
  .products__icons--btn {
    height: 100px;
  }
  .products__icons {
    width: 350px;
    flex-wrap: wrap;
  }
  .products__icons--btn i {
    padding: 15px;
    font-size: 25px;
  }
  .products__icons--btn p {
    font-size: 14px;
    text-align: center;
  }
  .products__box {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .products__box--contain__text b {
    font-size: 16px;
  }
  .products__box--contain__text p {
    font-size: 17px;
  }
  .products__btn {
    margin-top: 30px;
  }
  .deals {
    width: 350px;
  }
  .deals__title {
    width: 350px;
  }
  .deals__contain {
    height: 800px;
    row-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 260px 300px 80px;
    grid-template-areas:
      "time"
      "fruit"
      "text"
      "other";
  }
  .deals__box3--div {
    height: 60px;
  }
  .deals__box2 img {
    width: 90%;
  }
  .deals__box1 {
    margin-top: 20px;
  }
  .deals__box4 p {
    box-sizing: border-box;
    text-align: start;
    line-height: 1.4;
    font-size: 15px;
  }
  .deals__box4 {
    padding-left: 20px;
  }
  .follow {
    margin-top: -50px;
    width: 350px;
    height: 1350px;
  }
  .follow__box {
    height: 1200px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .follow__main {
    grid-row: 1 / 2;
  }
}
