@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  --boton: #f0802f;
  --hover: #f69149;
  --hoverOscuro: #b14e07;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  transition: 0.4s;
  color: black;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
button {
  background-color: var(--boton);
  cursor: pointer;
  transition: 0.4s;
  border: none;
}
.header {
  width: 100%;
  height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url("./images/fondo.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__nav {
  margin-top: 20px;
  width: 1400px;
  height: 100px;
  background-color: rgb(255, 255, 255, 0.8);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0 30px;
}
.header__nav--logo p {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 0 2px #000;
  font-weight: bold;
  color: var(--boton);
}
.header__nav--contain {
  display: flex;
  column-gap: 30px;
}
.header__nav--contain a {
  font-weight: 500;
  color: gray;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    color: var(--hover);
  }
}
.header__nav--icons {
  font-size: 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}
.header__nav--icons__inp {
  width: 300px;
  box-sizing: border-box;
  display: grid;
  height: 43px;
  grid-template-columns: 1fr 40px;
}
.header__nav--icons__inp input {
  border: none;
  outline: none;
  box-sizing: border-box;
  border-radius: 10px 0 0 10px;
  padding-left: 10px;
  background-color: rgb(211, 211, 211, 0);
  font-size: 16px;
  border: 1px solid rgb(139, 128, 128);
}
.header__nav--icons__inp button {
  color: white;
  font-size: 20px;
  border-radius: 0 5px 5px 0;
  &:hover {
    background-color: var(--hoverOscuro);
  }
}
.nav__icons__ico {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: var(--boton);
  color: white;
  transition: 0.2s;
  &:hover {
    background-color: var(--hoverOscuro);
  }
}

.header__title {
  margin: 90px auto;
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__title span {
  width: 180px;
  text-align: center;
  font-style: italic;
  text-transform: capitalize;
  padding: 5px;
  font-weight: 400;
  border-radius: 5px;
  background-color: var(--boton);
}
.header__title h1 {
  font-size: 90px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.header__title button {
  margin-top: 40px;
  color: white;
  width: 250px;
  height: 50px;
  letter-spacing: 2px;
  font-size: 18px;
  &:hover {
    background-color: var(--hoverOscuro);
  }
}

.main {
  width: 100%;
}

.products {
  width: 1400px;
  height: auto;
  margin: 50px auto 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
}
.subtitle {
  border-top: 3px solid var(--boton);
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subtitle span {
  column-gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
}
.subtitle p {
  text-align: center;
  color: gray;
  line-height: 1.5;
}
.subtitle h2 {
  font-size: 30px;
  text-transform: uppercase;
}
.subtitle i {
  font-size: 25px;
  color: var(--boton);
}
.products__icons {
  width: 700px;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  column-gap: 10px;
}
.products__icons--btn {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    color: white;
    background-color: var(--hover);
  }
}
.products__icons--btn i {
  padding: 20px;
  font-size: 30px;
  color: white;
  background-color: greenyellow;
  border-radius: 50%;
}
.products__icons--btn p {
  font-weight: bold;
}

.products__box {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}
.products__box--contain {
  box-shadow: 0 0 10px #666;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    scale: 1.01;
  }
}
.products__box--contain:hover b {
  color: var(--boton);
}
.products__box--contain__img {
  width: 100%;
  height: 70%;
  background-color: rgb(211, 211, 211, 0.3);
  background-position: center;
  background-size: cover;
}
.products__box--contain__img p {
  width: 50px;
  height: 50px;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: bold;
  background-color: var(--boton);
  color: white;
}
.products__box--contain__img img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}
.products__box--contain__text {
  height: 30%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  row-gap: 6px;
}
.products__box--contain__text b {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.products__box--contain__text p {
  color: var(--hoverOscuro);
  font-size: 19px;
  font-weight: bold;
}
.products__box--contain__text p small {
  color: gray;
  font-weight: 400;
}
.products__box--contain__text i {
  color: rgb(239, 199, 0);
  font-size: 12px;
}

.products__btn {
  margin-top: 20px;
  width: 200px;
  height: 40px;
  background-color: var(--boton);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.4s;
  &:hover {
    background-color: var(--hoverOscuro);
  }
}

.deals {
  width: 1200px;
  height: auto;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 40px;
}
.deals__contain {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 100px 1fr 100px 1fr;
}
.deals__box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
}
.deals__box1 img {
  height: 80px;
  width: 80px;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 10px;
  box-shadow: 0 0 10px #666;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    scale: 1.04;
  }
}
.deals__box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.deals__box2 img {
  width: 500px;
}
.deals__box2 p {
  width: 100px;
  height: 50px;
  background-color: var(--boton);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 29px;
  font-weight: bold;
  border-radius: 10px;
}
.deals__box3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.deals__box3--div {
  margin-left: 50px;
  background-color: var(--hover);
  color: white;
  width: 80px;
  height: 450px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.deals__box3--div p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deals__box3--div p b {
  font-size: 35px;
}
.deals__box3--div p small {
  font-size: 18px;
}
.deals__box4 {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 20px;
  justify-content: center;
}
.deals__box4 h2 {
  font-size: 40px;
}
.deals__box4 span {
  font-size: 28px;
}
.deals__box4 span b {
  color: var(--hoverOscuro);
}
.deals__box4 span small {
  font-size: 18px;
}
.deals__box4 p {
  color: grey;
  font-size: 15px;
  padding: 0 50px 0 0;
}
.deals__box4--div {
  width: 330px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.add--btn {
  width: 200px;
  height: 50px;
  border: 2px solid rgb(179, 179, 179);
  background-color: rgb(211, 211, 211, 0);
  font-size: 18px;
  color: var(--boton);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    background-color: rgb(211, 211, 211, 0.3);
  }
}
.heart__btn,
.more__btn {
  width: 50px;
  height: 50px;
  border: 2px solid rgb(202, 201, 201);
  background-color: rgb(211, 211, 211, 0);
  border-radius: 5px;
  font-size: 20px;
  color: var(--boton);
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    background-color: rgb(211, 211, 211, 0.3);
  }
}

.fruits {
  margin-bottom: 100px;
  width: 100%;
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./images/fondo2.jpg");
  background-position: center;
  background-size: cover;
}

.follow {
  width: 1400px;
  height: 630px;
  margin: 0 auto 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.follow__title {
  width: 500px;
  height: 100px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
}
.follow__box {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.follow__box--contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  box-shadow: 0 0 10px #666;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    scale: 1.02;
  }
}
.follow__box2 h2 {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}
.follow__box2 p {
  padding: 0 30px;
  text-align: center;
  color: gray;
  letter-spacing: 1px;
}
.follow__box2 button {
  width: 250px;
  height: 50px;
  color: white;
  background-color: var(--boton);
  border: none;
  font-size: 17px;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    background-color: var(--hover);
  }
}
.footer {
  width: 100%;
  height: 350px;
  background-color: rgb(45, 45, 45);
  color: white;
}
